
/* CSS Generale Della Pagina */

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@595&family=Gabarito&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@282&family=Montserrat:ital,wght@0,417;1,417&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Plus+Jakarta+Sans:wght@660&family=Poppins:wght@400;900&family=Quicksand:wght@647&family=Raleway:wght@526&family=Roboto:wght@499&family=Sometype+Mono:ital,wght@0,614;1,614&family=Titan+One&display=swap');

:root{
  --general-color: #ffffff;
  --secondary-color: #0282F9;
  --blue-01: #0597F2;
  --main-color-general: #262626;
  --font-color-secondary: #525252;
  --blue-02: #11538C;
  --bg-img-hero: url("../public/img/jumbotron.jpg");
  --bg-img-footer: url("../public/img/footer-bg.jpg");
  --font-site-url : "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("true-type");
  font-weight: normal;
  font-style: normal;
  font-size: .90em;
}

/* Responsive Flexbox Utilities */

/* Contenitore fluido a larghezza piena */
.container-flex-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

/* Contenitore Header Logo e altro */

.icon-logo{
  width: 40px;
  height: 40px;
}

.box-icon{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  display: none;
}

.social-box{
  width: 40px;
  height: 40px;
  padding: 1px;
}

/* Contenitore con larghezza massima e padding */
.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.max-container-break{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.max-container-break.link-ft{
  width: 100%;
  max-width: 100%;
}

/* Colonne responsabili per la disposizione su schermi diversi */

/* sm (Small - mobile): schermi inferiori a 576px */
.col-sm-12 {
  width: 100%;
}

/* md (Medium - tablet): schermi da 576px a 768px */
@media (min-width: 576px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 70%;
  }
  .col-md-12 {
    width: 100%;
  }

  .icon-logo{
    width: 40px;
    height: 40px;
  }

  .max-container-break{
    max-width: 90%;
  }

  .max-container-break.link-ft{
    max-width: 100%;
  }
}

/* lg (Large - desktop): schermi da 768px a 992px */
@media (min-width: 768px) {
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-6 {
    width: 60%;
  }
  .col-lg-3 {
    width: 80%;
  }
  .col-lg-12 {
    width: 100%;
  }

  .max-container-break{
    max-width: 95%;
  }

  .max-container-break.link-ft{
    max-width: 100%;
  }
}

/* xl (Extra Large - schermi ampi): schermi da 992px a 1200px */
@media (min-width: 992px) {
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 60%;
  }
  .col-xl-12 {
    width: 100%;
  }
  
  .icon-logo{
    width: 52px;
    height: 52px;
  }

  .max-container-break.link-ft{
    max-width: 100%;
  }
}

/* 2xl (2 Extra Large - schermi molto ampi): schermi da 1200px a 1400px */
@media (min-width: 1200px) {
  .col-2xl-4 {
    width: 33.33%;
  }
  .col-2xl-3 {
    width: 39.33%;
  }
  .col-2xl-5 {
    width: 70%;
  }
  .col-2xl-6 {
    width: 50%;
  }
  .col-2xl-8 {
    width: 80%;
  }
  .col-2xl-12 {
    width: 100%;
  }

  .icon-logo{
    width: 60px;
    height: 60px;
  }

  .max-container-break{
    max-width: 89%;
  }

  .max-container-break.link-ft{
    max-width: 80%;
  }
}

/* xxl (Ultra Large - schermi più ampi): schermi oltre 1400px */
@media (min-width: 1400px) {
  .col-xxl-4 {
    width: 33.33%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 60%;
  }
  .col-xxl-8 {
    width: 90%;
  }
  .col-xxl-12 {
    width: 100%;
  }

  .icon-logo{
    width: 60px;
    height: 60px;
  }

  .max-container-break{
    max-width: 81%;
  }

  .max-container-break.link-ft{
    max-width: 89%;
  }
}

/* Stile di implementazione nelle seguenti sezione */

/* Header */

.header-sc{
  justify-content: center;
  background-color: var(--general-color);
  padding: 17px;
  font-family: var(--font-site-url);
  overflow: hidden;
}

.nav-links-hd{
  padding: 2px;
}

.nav-links-hd .list-nav{
  width: 100%;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-links-hd li .links{
  font-family: var(--font-site-url);
  color: var(--main-color-general);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in .40s;
}

.nav-links-hd li .links::after{
  content: "";
  position: absolute;
  width: 60px;
  padding: 6px;
  bottom: -440px;
  background-color: var(--blue-01);
  transition: all ease-in .40s;
}

.nav-links-hd li .links:hover{
  color: var(--blue-01);
}

.nav-links-hd li .links:hover::after{
  bottom: -40px;
}

.box-icon.ham{
  display: none;
}

@media (min-width: 320px)  and (max-width: 900px){
  .nav-links-hd{
    display: none;
  }

  .box-icon.ham{
    display: flex;
  }
}

/* Hero Section */
.hero-sc{
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-image: var(--bg-img-hero);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Card */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(33.33% - 20px);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

/* Immagine della card */
.card-img {
  width: 80%;
  height: 190px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #ddd;
}

/* Contenuto della card */
.card-content {
  padding: 20px;
}

/* Titolo della card */
.card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--font-site-url);
}

/* Descrizione della card */
.card-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  font-family: var(--font-site-url);
}

/* Pulsante della card */
.card-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-site-url);
}

.card-btn:hover {
  background-color: #555;
}

.text-hero{
  font-family: var(--font-site-url);
  color: var(--general-color);
}

/* Responsività */
@media (max-width: 992px) {
  .card {
    width: calc(50% - 20px);
  }

  .dc-shop-logo{
    display: none;
  }

  .hero-sc{
    background-image: none;
    background-color: var(--main-color-general);
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
  
  .dc-shop-logo{
    display: none;
  }

  .hero-sc{
    background-color: var(--main-color-general);
  }
}

/* Shop */

.shop-sc{
  background-color: var(--secondary-color);
  padding: 27px;
  height: auto;
}

.icons-shop-sc{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}

.icon-shop{
  width: 180px;
  gap: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
}

.icon-shop h6{
  text-align: center;
  font-family: var(--font-site-url);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--general-color);
}

.shop-icon{
  width: 90px;
  padding: 12px;
}

@media screen and (min-width: 670px) and (max-width: 1240px) {
  .icons-shop-sc{
    flex-direction: row;
  }

  .shop-sc{
    height: auto;
  }

  .icon-shop{
    width: 240px;
  }

  .shop-icon{
    width: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .icons-shop-sc{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .shop-sc{
    height: 260px;
  }

  .icon-shop{
    width: 290px;
    flex-direction: row;
  }

  .shop-icon{
    width: 65px;
  }
}

/* Footer */

.footer-sc{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links-sc{
  background-image: var(--bg-img-footer);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.links-table{
  display: grid;
  grid-template-columns: auto auto auto;
  z-index: 10;
}

.links-tb{
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.links-tb h4{
  font-family: var(--font-site-url);
  text-align: left;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--general-color);
}

.links-tb ul li a{
  font-family: var(--font-site-url);
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--font-color-secondary);
}

.dc-shop-logo{
  width: 660px;
  height: 660px;
  position: absolute;
  right: 30px;
  top: -10px;
}

.links-tb ul li a:hover{
  color: var(--general-color);
}

.social-ft{
  padding: 50px;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--main-color-general);
}

.btn-ft-sign{
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 10px;
  font-size: 1.4em;
  font-family: var(--font-site-url);
  font-weight: 800;
  border-radius: 0px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}

.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.social-links h5{
  font-family: var(--font-site-url);
  font-weight: 800;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-01);
}

.links-social{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

@media screen and (min-width: 910px) {
  .social-ft{
    flex-direction: row;
  }

  .social-links{
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .links-social{
    width: 100%;
  }
}

/* Extra Style */

::selection {
  background: var(--secondary-color);
  color: var(--general-color); 
}

::-webkit-scrollbar{
   background-color: var(--general-color);
   width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--blue-01);
  border-radius: 10px;
}

::-webkit-scrollbar-button{
  background-color: transparent;
  height: 2px;
}

